# Env files
.env
.env.*

# Node
node_modules
npm-debug.log*
pnpm-debug.log*

# Build outputs
/dist
/.next
/.output
/.vercel
/.netlify
/coverage
/.turbo

# OS/Editor
.DS_Store
.idea/
.vscode/
*.local

# Misc
*.log
